<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="VTS500" type="System.Configuration.NameValueSectionHandler"/>
    <section name="VTWIN" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RNS" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ZENITH" type="System.Configuration.NameValueSectionHandler"/>
    <section name="IASERVER" type="System.Configuration.NameValueSectionHandler"/>
    <section name="APP" type="System.Configuration.NameValueSectionHandler"/>
    <section name="REDIS" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <RNS>
    <add key="usar_credencial" value="true"/>
    <add key="intervalo" value="5"/>
    <add key="xmlExport" value="\\ARUS3AP10\Aplicacion\AOI\"/>
    <add key="dataProg" value="\\vt-rns-srv\ShareData\Prog\"/>
    <add key="csvPath" value="\\vt-rns-srv\ShareData\InspectionCSVFiles\"/>

    <add key="server" value="\\vt-rns-srv"/>
    <add key="user" value="VT-RNS"/>
    <add key="pass" value="vt-rns"/>
  </RNS>

  <VTWIN>
    <add key="usar_credencial" value="true"/>
    <add key="intervalo" value="5"/>
    <add key="saveVirtual" value="true"/>
    <add key="xmlExport" value="\\ARUS3AP10\Aplicacion\AOI\"/>
    <add key="dataProg" value="\\vt-win2-srv\VTWIN2DAT\Data\Prog\"/>

    <add key="server" value="\\vt-win2-srv"/>
    <add key="user" value="vt-win2"/>
    <add key="pass" value="VT-WIN2"/>

    <add key="db_type" value="oracle"/>
    <add key="db_host" value="VT-WIN2-SRV"/>
    <add key="db_port" value="1521"/>
    <add key="db_user" value="VT_INSP_DB"/>
    <add key="db_pass" value="VT_INSP_DB"/>
    <add key="db_service" value="VTDBS"/>
  </VTWIN>

  <VTS500>
    <add key="usar_credencial" value="false"/>
    <add key="intervalo" value="5"/>
    <add key="saveVirtual" value="true"/>
    <add key="xmlExport" value="\\ARUS3AP10\Aplicacion\AOI\"/>
    <add key="dataProg" value=""/>

    <add key="server" value="\\10.30.10.60"/>
    <add key="user" value="prism"/>
    <add key="pass" value="prism"/>

    <add key="db_type" value="oracle"/>
    <add key="db_host" value="10.30.10.60"/>
    <add key="db_port" value="1521"/>
    <add key="db_user" value="PRISM"/>
    <add key="db_pass" value="PRISM"/>
    <add key="db_service" value="PRISMDB"/>
  </VTS500>
  
  <ZENITH>
    <add key="usar_credencial" value="false"/>
    <add key="intervalo" value="5"/>
    <add key="saveVirtual" value="true"/>
    <add key="xmlExport" value="\\ARUS3AP10\Aplicacion\AOI\"/>
    <add key="dataProg" value=""/>

    <add key="db_type" value="sqlserver"/>
    <add key="db_host" value="10.30.70.198"/>
    <add key="db_port" value="1433"/>
    <add key="db_user" value="sa"/>
    <add key="db_pass" value="koh1234"/>
    <add key="db_database" value=""/>
  </ZENITH>

  <IASERVER>
    <add key="db_host" value="10.30.10.22"/>
    <add key="db_port" value="3306"/>
    <add key="db_user" value="aoicollector"/>
    <add key="db_pass" value="401collector"/>
    <add key="db_database" value="aoidata"/>
    
    <add key="apiurl" value="http://ARUSHAP34/iaserver/public" />
  </IASERVER>
  
  <APP>
    <add key="autostart" value="false"/>
  </APP>
  
  <REDIS>
    <add key="host" value="ARUSHAP34"/>
  </REDIS>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
