<?xml version="1.0"?>
<configuration>
 
  <configSections>
    <section name="IASERVER" type="System.Configuration.NameValueSectionHandler"/>
    <section name="APP" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <IASERVER>
    <add key="db_host" value="10.30.10.22"/>
    <add key="db_port" value="3306"/>
    <add key="db_user" value="temp_hum"/>
    <add key="db_pass" value="temp_hum"/>
    <add key="db_database" value="temp_hum"/>
    
    <add key="apiurl" value="http://ARUSHAP34/iaserver/public" />
  </IASERVER>

  <APP>
    <add key="intervalo" value="40"/>
    <add key="autostart" value="true"/>
    <add key="csvPath" value="\\ARUSHAP33\SensorLook\Mediciones"/>
  </APP>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>